body{
		padding: 0;
		margin:0;
		font-family: sans-serif;
	}

 .content{
	width: 80%;
	margin: 10px auto;
}
 
/*header*/
header{
	background-color: white;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.judul{
	text-align: center;	
}

.menu{
        background-color:#DDA0DD;
        border: 1px solid #f0f0f0;
        border-radius: 8px; 
        margin-bottom: 10px;
    }
 
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
 
    .menu > ul > li {
        float: left;
    }
 
    
    .menu li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
 
    .menu li a:hover{
        background-color: #BA55D3;
    }
 
    li.dropdown {
        display: inline-block;
    }
 
    .dropdown:hover .isi-dropdown {
        display: block;
    }
 
    .isi-dropdown a:hover {
        color: #fff !important;
    }
 
    .isi-dropdown {
        position: absolute;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color: #f9f9f9;
    }
 
    .isi-dropdown a {
        color: #3c3c3c !important;
    }
 
    .isi-dropdown a:hover {
        color: #232323 !important;
        background: #f3f3f3 !important;
    }

div.badan{
	background: #d5f0f3;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;

}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background:#DA70D6;
    color: white;
    font-weight: normal;
}
 
.table1, th, td{
    padding: 8px 15px;
    text-align: center;
    font-size: 15px;
}
 
.table1 tr:hover {
    background-color: #f5f5f5;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tambah_btn {
    text-decoration: none;
    padding: 3px 6px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 5px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    background: #800000;
}

.input{
  width: 100%;
  padding: 5px 10px;
  margin: 1px 0;
  box-sizing: border-box;
}

.kotak{
    width: 450px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 10px 10px;
}
