body{
  background:#ADD8E6;
    font-family: sans-serif;
}

h2 {
  color: black;
}
 
.login {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 3px;
  text-align: center;
}
 
label {
  font-size: 10pt;
  color: #555;
}
 
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #D3D3D3;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #32CD32;
  color: #fff;
  border: 0;
  padding: 5px 8px;
}

.true{
  background: #FF0000;
  color: #fff;
  border: 0;
  padding: 5px 8px;
}
